body {
    background-color: white;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

/*--------------------------------------------*/
/* Hero Text flexbox */

main {
    background: url(layout-01-assets/img11.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    text-align: center;
    color: white;
    align-content: center;
}

main > h1 {
    font-size: 45px;
}
/* Content Boxes */

div.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 3rem auto;
}

.cards section {
    width: 32%;
    /* Background needs color adjustment*/
    background-color: lightgray;
}

/* Text aligning*/

div.cards>section>h3 {
    margin: 1rem;
}

div.cards>section>p {
    margin: 1rem;
    width: 75%;
}

.cards>.sec {
    width: 49%;
    margin-top: 1rem;
}


/*--------------------------------------------*/
/* Sub secetion for buttons in order (maybe needs sizing*3) */

#btn {
    margin-top: 2rem;
}
.intro>div>.head>.green {
    background-color: green;
    margin: 1rem;
    padding: 5px;
    border-radius: 5px;
    color: white;
    width: 40%;
}

.intro>div>.head>.blue {
    /* Needs color adjustment */
    background-color: lightblue;
    margin: 1rem;
    padding: 5px;
    border-radius: 5px;
    color: white;
    width: 40%;
}

.intro>div>.head>.red {
    background-color: red;
    margin: 1rem;
    padding: 5px;
    border-radius: 5px;
    color: white;
    width: 40%;
}

.intro>div>.sec>button {
    /* positioning needs to be to the right */
    margin: 1rem;
    padding: 4px;
    border-radius: 4px;
    width: 20%;
}

#btn {
    text-align: center;
    justify-self: center;
    align-self: flex-end;
    padding: .5rem;
}

.intro > .cards > #btn {
    margin-top: 2rem;
}

.intro>div.cards>section>.read {
    border: solid 0.5px black;
    border-radius: 6%;
    text-align: center;
    padding: .5rem;
    width: 23%;
    margin-right: 5rem;
    justify-self: flex-end;
}

.services > div.cards > .head2 > #btn {
    border: solid 0.5px black;
    border-radius: 6%;
    text-align: center;
    padding: 0.5rem;
    width: 40%;
    margin-right: 5rem;
    justify-self: flex-end;
}

.services > div.cards > .bc > #btn {
    border: solid 0.5px black;
    border-radius: 6%;
    text-align: center;
    padding: 0.5rem;
    width: 15%;
    margin-right: 5rem;
    justify-self: flex-start;
}
/* -------------------------------------*/
/* 2nd banner*/

.services>.S2 {
    background-image: url(layout-01-assets/img13.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    text-align: center;
    color: white;
    padding: 6rem;
}

.services>.S2>p {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

/*-------------------------------------------*/
/* 2nd card set*/

.cards>.head2 {
    width: 23%;
    margin-bottom: 1rem;
    background-color: lightgray;
}

.cards>.bc {
    width: 100%;
    margin-top: 1rem;
}
/* Navagation bar (make center somehow) */

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background-color: black;
    justify-content: center;
}

nav>a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    border: solid white 1px;
    width: 6%;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

/*--------------------------------------------*/
/* Contact form section */

.contacts {
    background-image: url(layout-01-assets/img14.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    text-align: center;
    color: white;
    align-content: center;
}

.contacts > .forms > p {
    width: 36%;
    justify-self: center;
}

.input > p {
    color: black;
    font-size: 13px;
    background-color:rgba(211, 211, 211, 0.3);
    padding: 0.5rem;
    width: 350px;
}
.contacts > div.end > .input > .mess {
    background-color:rgba(211, 211, 211, 0.3);
    color: black;
    height: 100px;
    align-self: flex-end;
    width: 350px;
}

.contacts > div.end > .input{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contacts > div.end > .input > #btn {
    color: white;
    background-color: black;
    border: solid 0.5px black;
    border-radius: 6%;
    text-align: center;
    padding: 1rem;
    width: 10%;
    margin-right: 5rem;
    justify-self: flex-start;
}
/*--------------------------------------------*/
/* Footer section */

footer.Info {
    text-align: center;
    padding: 2rem;
    border-bottom: solid 1px black;
}

.Info > h3 {
    font-size: 45px;
    text-decoration: none;
}

footer.copyend > h3 {
    text-align: center;
    font-size: 15px;
}