body {
    display: flex;
    background-color: white;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

/* Hero Text flexbox */

main {
    background: url(layout-01-assets/img11.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    }

main {
    text-align: center;
    color: white;
    align-content: center;
}
    /* Content Boxes */

 .intro {
    display: flex;
    width: 30%;
    margin-top: 5vh;
    padding: -2rem;
    background-color: lightgray;
}

.intro > section.head {
    justify-content: space-around;
}

.services {
    background-image: url(layout-01-assets/img13.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
}

.services:nth-child(5) {
    align-content: center;
    justify-self: center;
    align-self: center;
}

/* Navagation bar (make center somehow) */

nav {
    padding: 1rem;
}

nav > ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 1rem;
}

nav > ul > li {
    display: block;
    padding: 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border: solid 1px white;
    transition: all ease 150ms;
}